<table>
    <tr>
        <th>#</th>
        <th>Altura</th>
        <th>Peso</th>
        <th>Valor IMC</th>
        <th>Classificação</th>
        <th>Data da Criação</th>
        <th>Nome do Aluno</th>
        <th>Data de Nascimento</th>
    </tr>
    <tr *ngFor="let imc of imcs">
        <td>{{imc.imcId}}</td>
        <td>{{imc.altura}}</td>
        <td>{{imc.peso}}</td>
        <td>{{imc.valorIMC}}</td>
        <td>{{imc.classificacao}}</td>
        <td>{{imc.dataCriacao}}</td>
        <td>{{imc.alunoId}}</td>
        <td>{{imc.aluno?.nome}}</td>
        <td>{{imc.aluno?.nascimento}}</td>
    </tr>
</table>
